@use 'utilities/mq';

.Content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.Content__title {
  margin-bottom: 30px;
}

.Content__ctas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;

  @include mq.media('>=small') {
    gap: 30px;
    margin-top: 60px;
  }

  .Button {
    @include mq.media('<small') {
      flex-basis: 100%;
    }
  }
}
