@use 'utilities/colors';

$inputColor: #828282;
$labelColor: #333333;

.FormCheckbox__label {
  display: flex;
  column-gap: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: $labelColor;
  user-select: none;
  border-radius: 2px;

  :deep(button) {
    color: colors.$darkGrey;
    text-decoration: underline;
  }

  input:checked + & {
    .FormCheckbox__input {
      border-color: colors.$blue;
      background-color: colors.$blue;

      .Icon {
        opacity: 1;
        scale: 1;
      }
    }
  }

  input:focus-visible + & {
    outline: 1px solid colors.$blue;
    outline-offset: 2px;
  }
}

.FormCheckbox__input {
  flex-shrink: 0;
  display: flex;
  width: 18px;
  height: 18px;
  border: 1px solid $inputColor;
  border-radius: 3px;
  transition: border-color 0.1s ease-out, background-color 0.1s ease-out;

  .Icon {
    width: 100%;
    height: 100%;
    color: colors.$white;
    opacity: 0;
    scale: 0.8;
    transition: opacity 0.1s ease-out, scale 0.1s ease-out;
  }
}
