@use 'utilities/mq';

.AccomodationList {
  margin-top: 100px;
  margin-bottom: 100px;
}

.AccomodationList__title {
  margin-bottom: 30px;

  @include mq.media('>=small') {
    margin-bottom: 50px;
  }
}

.AccomodationList__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include mq.media('>=large') {
    gap: 30px;
  }
}

.AccomodationList__item {
  flex: 1;
  flex-basis: 100%;

  @include mq.media('>=small') {
    flex-basis: 25%;
  }

  @include mq.media('>=large') {
    flex-basis: 12%;
  }
}
